.dongiPageContainer {
    background-color: #E1EFF2;
    margin: 20px auto auto auto;
    height: calc(100% - 100px);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    padding: 0 15px 100px 15px;
    overflow: scroll;
    min-height: 420px !important;
}

.DongiSubmitButton {
    width: 85%;
    background-color: #988AA8;
    height: 40px;
    min-height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppIranSansMedium;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    bottom: 60px;
    box-shadow: #e1eff2 1px 1px 7px 9px;
    max-width: 500px;
}

.eachDongContainer {
    transition: all 0.4s ease;
    background-color: #fff;
    height: 60px;
    margin-top: 20px;
    border-radius: 14px;
    line-height: 60px;
    padding: 0 10px 0 10px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.eachDongContainerOpened {
    background-color: #fff;
    height: 140px;
    margin-top: 20px;
    border-radius: 14px;
    line-height: 60px;
    padding: 0 10px 0 10px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}


.eachDongContainerHolders {
    display: grid;
    grid-template-areas:
        "head head head head head"
        "nav nav nav nav nav ";
    grid-template-rows: max-content;

    direction: rtl;
}

.SelectNumberDongHolder {
    grid-area: nav;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: max-content;
    text-align: center;
    align-items: center;
}

.eachDongFoodName {
    font-family: AppIranSans;
    color: #6D5092;
    font-size: 0.7rem;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80px;
}

@media only screen and(min-width: 600px) {
    .eachDongFoodName {
        font-family: AppIranSans;
        color: #6D5092;
        font-size: 0.7rem;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
    }
}

@media only screen and(max-width: 360px) {
    .eachDongFoodName {
        font-family: AppIranSans;
        color: #6D5092;
        font-size: 0.7rem;
        max-width: 50% !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 150px;
    }
}

.DongiPayText {
    color: black;
}

.paidItemsText {
    color: #00801b;
}

.howMuchContainer {
    display: flex;
    flex-flow: column;
    line-height: 20px;
    margin-right: 15px;
    font-size: 0.7rem;
    justify-content: center;
}

.howMuchNumber {
    border-bottom: solid #8066A0 1px;
    display: flex;
    justify-content: space-evenly;
}

.greenDongiText {
    color: #438D48;
}

.dongiFromText {
    margin-right: 15px;
    font-family: AppIranSans;
    font-size: 0.7rem;

}

.dongNumberOfFood {
    border-radius: 5px;
    border: solid #8066A0 1px;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    font-family: AppIranSansMedium;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;

}

.dongiArrowDown {
    transition: all 0.5s ease;
    color: #8066A0;
    bottom: 0;
    text-align: center;
    left: 0%;
}

.dongiArrowDownRotated {
    transition: all 0.5s ease;
    color: #8066A0;
    bottom: 0;
    text-align: center;
    left: 0%;
    transform: rotate(180deg);
}

.rotate180deg {
    transform: rotate(180deg);
}

.dongNumberHolder {
    margin-top: 15px !important;
}

.dongiDialog {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 45, 45, 0.5);
    z-index: 99;
    display: flex;
    justify-content: center;
}

.dialogContainer {
    width: 90%;
    height: 200px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column;

}

.payLinkTextHolder {
    margin: auto;
    margin-top: 20px;
    font-family: AppIranSans;
    margin-bottom: 25px;
}

.linkInput {
    outline: none;
    margin-right: 10px;
    margin-left: 10px;
}

.copyLinkButton {

}
.DongiSubmitButtonNew {
    width: 45%;
    background-color: #988AA8;
    height: 40px;
    min-height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppIranSansMedium;
    color: white;
    bottom: 60px;
    max-width: 500px;
    white-space: nowrap;
}
.DongiAllSubmitButtonNew{
    width: 45%;
    background-color: #988AA8;
    height: 40px;
    min-height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppIranSansMedium;
    color: white;
    bottom: 60px;
    max-width: 500px;
    white-space: nowrap;
}
.dongiPayButtonsContainer{
    position: absolute;
    bottom: 60px;
    width: 85%;
    left: 50%;
    transform: translate(-50%);
    /*box-shadow: #e1eff2 1px 1px 7px 9px;*/
    max-width: 700px;
}

.DongiPaidNoticeBt{
    width: 90%;
    background-color: #3bb035;
    height: 40px;
    min-height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppIranSansMedium;
    color: white;
    bottom: 60px;
    max-width: 500px;
    white-space: nowrap;
}