.eachOrderDetailsPageContainer {
    background-color: #ffe1e3;
    margin: 20px auto auto auto;
    height: calc(100% - 100px);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    padding: 0 15px 10px 15px;
    overflow: scroll;
    min-height: 420px !important;
}

.eachOrderDetailsFoodsContainer {
    margin-top: 20px;
    width: 100%;
    background-color: white;
    height: 18rem;
    border-radius: 16px;
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    padding: 0px 0 10px 0;
    overflow: scroll;

}

.eachOrderDetailsEachFoodContainer {
    width: 50%;
    display: flex;
    justify-content: center;
}

.eachOrderDetailsEachFood {
    transition: all 0.2s ease;
    margin-top: 10px;
    height: 110px;
    width: 95px;
    background-color: #fff0f0;
    border-radius: 20px 35px 20px 20px;
    display: flex;
    flex-flow: column;
    box-shadow: 1px 2px 0px 0px #E0DEDE;
}

@media only screen and (max-width: 360px) {


}
@media only screen and (min-width: 600px) {
    .eachOrderDetailsEachFoodContainer {
        width: 33.3333333%;
        display: flex;
        justify-content: center;
    }

    .eachOrderDetailsFoodsContainer {
        margin-top: 20px;
        width: 100%;
        background-color: white;
        height: 25rem;
        border-radius: 16px;
        display: flex;
        flex-flow: row wrap;
        overflow: scroll;
        padding: 0px 0 10px 0;

    }

}

.EachOrderDetailsEachFoodImage {
    transition: all 0.2s ease;
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius: 50px;
}

.EachOrderDetailsEachFoodPrice {
    transition: all 0.2s ease;
    font-family: KingArthurSpecialNormal,serif;
    font-weight: normal;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 0.7rem;
    white-space: nowrap;
    padding-left: 10px;
}

.EachOrderDetailsEachFoodName {
    transition: all 0.2s ease;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    font-family: Aviny, serif;
    font-size: 1.0rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: rtl;
    margin-top: 5px;
}
.EachOrderDetailsFoodDetails{
    font-family: AppIranSansLight;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.5rem;
    margin-top: 5px;
    padding: 0 5px 0 5px;
    direction: rtl;
    text-overflow: ellipsis;
}
.eachOrderDetailsFoodNumber{
    margin-top: -15px;
    font-family: AppIranSansLight;
    font-size: 0.8rem;
}