.bottomNavBarMain{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content:space-around;
    max-width: 500px;
    padding: 0 0 8px 0;
}
.BottomNavigationIcons{
    transition: all 0.8s ease !important;
    background-repeat: no-repeat !important;
    background-size: 85% !important;
    background-position: center !important;
    transform: scale(1.1) !important;
}

.BottomNavigationIcons:active{
    transition: all 0.8s ease !important;
    background-repeat: no-repeat !important;
    background-size: 85% !important;
    background-position: center !important;
    transform: scale(1.8) !important;
}
.BottomNavigationIcons:after{
    transition: all 0.8s ease !important;
    background-repeat: no-repeat !important;
    background-size: 85% !important;
    background-position: center !important;
    transform: scale(1.1) !important;
}



.navLinkBottomNav{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectedNavBarAnimation {
    animation-name: animation;
    animation-duration: 0.5s;
}

@keyframes animation {

}
