.bottomNavBarMain{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content:space-around;
    max-width: 500px;
    padding: 0 0 8px 0;
}
