.defaultInputUi label{
    right: 0 !important;
    left: auto !important;
    font-size: 0.7rem !important;
}
.defaultInputUi{
    margin-top: 10px !important;
}
.defaultInputUi div input{
    text-align: right;
    direction: rtl;
    font-family: AppIranSans;
    font-size: 0.8rem;
}
.defaultInputUi div:after{
    border-bottom: 1px solid #515151 !important;
}
.signUpCukiLogo{
    width: 1rem;
    height: 1rem;
    background-color: red;
}
.cukiSignUpText{
    font-size: 0.6rem;
    font-family: AppIranSans;
    white-space: nowrap;
}
.signUpContainer{
    width: 76%;
    margin: auto;
    overflow: visible;
}
.signupSubmitButton{
    background-color: #988AA8;
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 20px;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    line-height: 40px;
}