.codeCukiIcon{
    width: 180px;
    height: 180px;
}
.codeButton{
    transition: all 0.2s ease !important;
    color: #ff0000;
    width: 140px;
    background-color: #bc845e !important;
}
.codeButton span {
    color: #ffffff;
}
.cukiCodeSnackbar div{
    background-color: #c21313;
    text-align: center;
    justify-content: center;
}.cukiCodeSnackbar div div{
     font-family: AppIranSans, serif;
    text-align: center;
}
.main-code-section{
     width: 100%;
    background-color: #fefaef;
    border-radius: 12px;
 }
.input-section{
    background: #ffedc5;
    border-radius: 12px;
}
.search-place-holder{
    position: absolute;
    right: 10px;
    font-size: 0.7rem;
}
.restaurants-container{
    width: 100%;
    background: #fff6f7;
    /*height: 50px;*/
    border-radius: 12px;
    /*position: absolute;*/
    /*bottom: 0;*/
}
.each-res-holder{
    width: 49%;
}
.each-res{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background: #efced5;
    border-radius: 50px;
    position: relative;
}
.res-score{
    background-color: #ff7489;
    height: 20px;
    width: 20px;
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 10px;
    color: #ffffff;
    line-height: 20px;
    font-size: 0.7rem;
}
.drawer{
    margin-top: 10px;
    min-height: 5px;
    min-width: 80px;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.auto-complete-holder{
    position: absolute;
    top: 40px ;
    width: 100%;
    transform: translate(50%, 0px);
    right: 50%;
    background: #ffedc5;
    border-radius:  0 0 15px 15px;
    overflow-x: hidden;
    transition: .2s ease;

}
.each-suggest{
    font-size: 0.9rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

