.payWayContainer{
    background-color: #FFF1DA;
    margin: 20px auto auto auto;
    height: calc(100% - 100px);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    padding: 0 15px 10px 15px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.payWayActive{
    transition: all 0.2s ease;
    background-color: #FFA833;

    color: #fff;
    width: 100px;
    height: 30px;
    border-radius: 16px;
    font-family:AppIranSansMedium;
    line-height: 30px;
    font-size: 0.7rem;
}
.payWayNormal{
    transition: all 0.2s ease;
    background-color: #DBDBDB;
    width: 100px;
    height: 30px;
    border-radius: 16px;
    font-family:AppIranSansMedium;
    line-height: 30px;
    font-size: 0.7rem;
}
.payWayButtonsContainer{
    height: 80px;
}
.payWayOptionsContainer{
    margin-top: 20px;
}
.payWayText{
    font-size: 0.8rem;
}
.mapContainer{
    width: 100%;
    background-color: white;
    height: 300px;
    min-height: 300px;
    margin-top: 15px;
}
.addressDetails{
    background-color: white;
    width: 100%;
    height: 60px;
    min-height: 60px;
    margin-top: 10px;
    outline: none;
    border-radius: 10px;
    border: none;
    text-align: right;
    direction: rtl;
}
.tableInput{
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    outline: none;
    padding: 0 10px 0 10px;
    height: 30px;
    width: 60px;
    margin-right: 0px;
    margin-left: auto;
    text-align: center;
    font-family: AppIranSans;
    line-height: 35px;
}
.tableTextHolder{
    font-family:AppIranSans;
    margin-right: 0px;
    margin-left: auto;
}
.tableContainerClass{
    transition: all 0.2s ease;
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h-0Animate{
    transition: all 0.2s ease;
    height: 0px;
    overflow: hidden;
}

.h-100Animate{
    transition: all 0.2s ease;
    height:auto;
}
.SubmitButtonContainer{
    position: absolute;
    bottom: 0;
}
.mapDetailsTableContainer{
    transition: all 0.8s ease;
    height: 20px;
    margin-top: 20px;
}