.BillPageContainer {
    background-color: #fff6e7;
    margin: 20px auto auto auto;
    height: calc(100% - 100px);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    padding: 0 15px 10px 15px;
    overflow: hidden;
    position: relative;
}
.BillRow {
    display: grid;
    grid-template-columns: 40% 30% 30%;
}
.bill-texts-table{
}
.gift-code-overlay{
    position: absolute;
    background-color: black;
    z-index: 999;
    backdrop-filter: blur(100px);
}
.bill-texts{
    font-family: AppIranSansMedium,sans-serif;
    font-size: 0.75rem;
    white-space: nowrap;
}
.bill-td{
    width: 33.33333%;
}


.billItemsContainer{
height: calc(100% - 120px);
}
.swipeable-list-item__content{
    background-color: transparent !important;
}

.totalPriceAndTextHolder{
    height: 30px;
    font-family: AppIranSansMedium,sans-serif;
    align-items: center;
}
.BillSubmitButton{
    width: 100%;
    background-color: #988AA8;
    height: 40px;
    min-height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppIranSansMedium,sans-serif;
    color: white;
    padding: 0 10px;
}
.discount-code-dialog{
    position: absolute;
    width: 90%;
    height: 30vh;
    background-color: #fff;
    z-index: 1;
    border-radius: 10px;
    right: 50%;
    top: 50%;
    transform: translate(50%,0);
    box-shadow:1px 0 10px 1px #adadad;
}
.umberInDe{
    width: 80px;
    margin: auto;
}
.NumberOfFoodsBill{
    font-size: 1rem;
}
.eachFoodPriceBill{
    font-size: 0.8rem;
    line-height: 1.5rem;
}
.billEachOrderName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    direction: rtl;
    padding-right: 10px;
}
.gift-button-svg{
    height: 40px;
    width: 40px;
}
.gift-button{
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 20px;
    overflow: hidden;
    box-shadow: 0 0 11px 1px #b3b3b3;
}
.gift-code-input{
    outline: none;
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-left: none;
    display: none;
}
.gift-inner{

}