.BillPageContainer {
    background-color: #ffe1e3;
    margin: 20px auto auto auto;
    height: calc(100% - 120px);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    padding: 0 15px 10px 15px;
    overflow: scroll;
}
.billItemsContainer{
height: calc(100% - 120px);

}
.totalPriceAndTextHolder{
    height: 30px;
    font-family: AppIranSansMedium;
    align-items: center;
}
.BillSubmitButton{
    width: 100%;
    background-color: #988AA8;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppIranSansMedium;
    color: white;
}