.BillPageContainer {
    background-color: #ffe1e3;
    margin: 20px auto auto auto;
    height: calc(100% - 100px);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    padding: 0 15px 10px 15px;
    overflow: scroll;
    position: relative;
}
.BillRow {
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

.billItemsContainer{
height: calc(100% - 120px);
}
.swipeable-list-item__content{
    background-color: transparent !important;
}

.totalPriceAndTextHolder{
    height: 30px;
    font-family: AppIranSansMedium;
    align-items: center;
}
.BillSubmitButton{
    width: 100%;
    background-color: #988AA8;
    height: 40px;
    min-height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AppIranSansMedium;
    color: white;

}
.umberInDe{
    width: 80px;
    margin: auto;
}
.NumberOfFoodsBill{
    font-size: 1rem;
}
.eachFoodPriceBill{
    font-size: 0.8rem;
}
.billEachOrderName{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    direction: rtl;
    padding-right: 10px;
}