.food-section{
  background: #D4EBEF;
  width: 85%;
  border-radius: 15px;
  margin: auto;
}

.foodListPageContainer {
  background-color: #D4EBEF;
  margin: 20px auto auto auto;
  height: calc(100% - 100px);
  width: 90%;
  border-radius: 20px;
  display: flex;
  flex-flow: row wrap;
  padding: 0 15px 10px 15px;
  overflow: scroll;
}
.animateFast {
  animation-duration: 0.2s !important;
}
.foodListEachFood {
  position: relative;
  transition: all 0.2s ease;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 175px;
  width: 140px;
  background-color: #fff;
  border-radius: 20px 35px 20px 20px;
  display: flex;
  flex-flow: column;
  max-height: 90%;
  box-shadow: 1px 2px 0 0 #E0DEDE;
}
@media only screen and (max-width: 300px) {
  .foodListEachFood {
    transition: all 0.2s ease;
    margin-top: 50px;
    height: 10px;
    width: 120px;
    background-color: #fff;
    border-radius: 20px 35px 20px 20px;
    display: flex;
    flex-flow: column;
    box-shadow: 1px 2px 0 0 #b9b9b9;
    transform: scale(0.8) !important;
  }
}
@media only screen and (max-width: 360px) {
  .foodListEachFood {
    transition: all 0.2s ease;
    margin-top: 50px;
    height: 160px;
    width: 120px;
    background-color: #fff;
    border-radius: 20px 35px 20px 20px;
    display: flex;
    flex-flow: column;
    box-shadow: 1px 2px 0 0 #b9b9b9;
    transform: scale(0.98);
  }
  .eachFoodPrice {
    font-family: KingArthurSpecialNormal, serif;
    font-weight: normal;
    text-align: center;
    line-height: 50px;
    padding-left: 15px;
  }

  .foodName {
    transition: all 0.2s ease;
    white-space: nowrap;
    overflow: hidden;
    font-family: Aviny, serif;
    margin-top: 10px !important;
    text-overflow: ellipsis;
    direction: rtl;
  }
  .eachFoodImage {
    transition: all 0.2s ease;
    height: 55px !important;
    width: 55px !important;
    overflow: hidden;
    border-radius: 50px;
    margin-right: 0;
  }
  .foodDetails {
    transition: all 0.2s ease;
    font-family: AppIranSansLight, serif;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 15px !important;
    padding: 0 5px 0 5px;
    direction: rtl;
    text-overflow: ellipsis;
  }
}

@media only screen and (min-width: 600px) {
  .foodListEachFoodContainer {
    width: 33.333333% !important;
    display: flex;
    justify-content: center;
  }
}

.decreaseFoodNumberButtonContainer{
  border-radius: 10px 0 0 10px;
  height: 35px;
  width: 35px;
  margin-right: 1px;
}
.foodNumberIncreaseButton{
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: white;
}
.FoodNumberHolderContainer{
  border-radius: 0 0 0 0;
  height: 35px;
  width: 35px;
}
.increaseFoodNumberButtonContainer{
  border-radius: 0 10px 10px 0;
  height: 35px;
  width: 35px;
  margin-left: 1px;
}
.foodListEachFoodContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.priceAndImage {
  transition: all 0.2s ease;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.discountPercentage {
  background-color: #F2EAEA;
  border-radius: 900px;
  border:solid red 1px;
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 0.6rem;
  margin-top: -10px;
  margin-left: -5px;
  line-height: 20px;
  color: red;
  box-shadow: #8c8c8c 1px 2px 4px 0;
}

.eachFoodPrice {
  transition: all 0.2s ease;
  font-family: IranSansNoEn,serif;
  font-weight: normal;
  text-align: center;
  line-height: 60px;
  font-size: 1rem;
  white-space: nowrap;
  padding-left: 10px;
}

.eachFoodPriceDiscount {
  transition: all 0.2s ease;
  font-family: KingArthurSpecialNormal, serif;
  font-weight: normal;
  text-align: center;
  font-size: 1rem;
  white-space: nowrap;
  padding-left: 10px;
}

.foodName {
  transition: all 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  font-family: Aviny, serif;
  text-overflow: ellipsis;
  direction: rtl;
  margin-top: 10px;
}

.eachFoodImage {
  transition: all 0.2s ease;
  height: 65px;
  width: 65px;
  overflow: hidden;
  border-radius: 50px;
  filter: drop-shadow(-3px 4px 6px rgba(161, 161, 161, 0.61));
}

.foodDetails {
  transition: all 0s ease !important;
  font-family: AppIranSansLight, serif;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.7rem;
  margin-top: 18px;
  padding: 0 5px 0 5px;
  direction: rtl;
  text-overflow: ellipsis;
}

.littlePinHolder {
  height: 20px;
  top: 0;
}

.foodDetailsMain {
  width: 90%;
  height: 95%;
  position: absolute;
  background-color: #FFE8C2;
  left: 50%;
  transform: translate(-50%);
  border-radius: 12px 55px 12px 12px;
  max-width: 400px;
  bottom: 0;
}

.imageAndFoodNameContainer {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;

}

.foodDetailsImg {
  height: 7rem;
  width: 7rem;
  min-width: 7rem;
  border-radius: 90px;
}

.foodDetailsPrice {
  line-height: 5rem;
  font-family: KingArthurSpecialNormal, serif;
  white-space: nowrap;
}

.foodDetailsDetails {
  font-family: AppIranSansMedium, serif;
  direction: rtl;
  text-align: right;
  word-break: break-word;
  padding: 0 20px 0 10px;
  font-size: 0.7rem;
  margin-top: 10px;
}


.detailsMainActive {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  background: #0000002e;
  z-index: 80;
}

.cannotComment {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 30px;
  border-radius: 100px;
  background-color: #343434;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 20px;
}

.priceAndImage span.MuiBadge-anchorOriginTopRightRectangle {
  margin-right: 50px;
  margin-top: 5px;
}
.outOfStockTextHolder {
  color: #ff3c00;
  font-family: AppIranSans, serif;
  padding-left: 10px;
}
.food-category-text{
  font-size: 0.9rem;
  padding-top: 15px;
  background: transparent !important;
}
.normal-font-size{
  font-size: 1.5rem !important;
}
.size-price{
  width: 100%;
  margin-top: 45px;
}
.each-size-price{
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  height: 30px;
  width: 100%;
  z-index: 999;
  font-size: 0.8rem;
  margin-top: 3px;
}
.extended-prices{
  width: 140px;
  margin-top: 45px;
  margin-right: 10px;
  margin-left: auto;
}