.welcomePageHeader{
    font-family: Eurose;
    font-size: 35px;
    text-align: right;
    padding-right:5%;
    margin: 15px;
}
 .textColor{
     color : #F07A3E;
 }
.welcomePageFrames{
    border-radius: 25px;
    background:#FFFAEF;
    padding: 15px;
    margin: auto;
    width: 85%;
    height: 90%;
}
.welcomePageDescriptionH{
    font-family: KingArthurSpecialNormal;
    margin-bottom: 10px;
    padding-left: 70px;
    font-weight: bold;
    font-size:25px ;
}
.welcomePageDescription{
    font-family: IRANSans;
    padding-left: 50px;
    font-size: 15px;
}
.chefImage{
    background-size: 95%;
    height: 200px;
    width: 200px;
    margin: auto;
}




