:root{
  --primary-color: white;
  --secondary-color: linen;
  --background-color: white;
  --text-color: black;
}
.theme-base {

  background: var(--background-color);

  #category-scroller-outer {
    background-color: var(--secondary-color);

    #nav-right-shadow {
      background: linear-gradient(to left, var(--secondary-color), rgba(255, 241, 218, 0)) !important;
    }

    #nav-left-shadow {
      background: linear-gradient(to right, var(--secondary-color), rgba(255, 241, 218, 0)) !important;
    }
  }

  .welcomePageFrames1 {
    background: var(--secondary-color);
  }

  .welcomePageFrames2 {
    background: var(--secondary-color);
  }

  .openIcons {
    background-color: var(--primary-color);
    border: solid 1px var(--secondary-color) !important;
    box-shadow: var(--primary-color) 0 0 0 0 !important;

    span {
      color: var(--text-color);
    }
  }

  .active-part {
    border: solid 1px var(--secondary-color) !important;
    box-shadow: var(--primary-color) 1px 4px 8px 0 !important;
  }

  .navbar-navigation-btn {
    color: var(--text-color);
  }

  .cat-text-placeholder {
    color: var(--text-color);
  }

  .food-category-text {
    color: var(--text-color) !important;
  }

  .food-section {
    background-color: var(--secondary-color) !important;
  }

  .foodListEachFood {
    background-color: var(--primary-color) !important;
    box-shadow: 0 0 5px 0 #000000;

    .eachFoodImage {
      filter: drop-shadow(0 0 0 black) !important;
    }

    .eachFoodPrice {
      color: var(--text-color);
    }

    .foodName {
      color: var(--text-color) !important;
    }

    .foodDetails {
      color: var(--text-color);
    }
  }

  .categoryPageEachCategory {
    background-color: var(--primary-color);
    color: var(--text-color);
  }

  .categoryPageEachCategoryImage {
    //filter: sepia(1);
  }

  .go-up-button {
    color: var(--text-color);
  }

  #app-placeholder {
    color: var(--text-color);
  }

  .each-size-price {
    background: var(--primary-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }
}