.foodListPageContainer {
    background-color: #D4EBEF;
    margin: 20px auto auto auto;
    height: calc(100% - 100px);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    padding: 0 15px 10px 15px;
    overflow: scroll;
}

.foodListEachFood {
    transition: all 0.2s ease;
    margin-top: 50px;
    height: 175px;
    width: 150px;
    background-color: #fff;
    border-radius: 20px 35px 20px 20px;
    display: flex;
    flex-flow: column;
    box-shadow: 1px 2px 0px 0px #E0DEDE;
}

.foodListEachFood:active {
    transition: all 0.2s ease;
    margin-top: 50px;
    height: 175px;
    width: 150px;
    background-color: #fff;
    border-radius: 20px 35px 20px 20px;
    display: flex;
    flex-flow: column;
    box-shadow: 1px 2px 0px 0px #E0DEDE;
    transform:scale(0.8);
}

@media only screen and (max-width: 360px) {
    .foodListEachFood {
        transition: all 0.2s ease;
        margin-top: 50px;
        height: 150px;
        width: 120px;
        background-color: #fff;
        border-radius: 20px 35px 20px 20px;
        display: flex;
        flex-flow: column;
        box-shadow: 1px 2px 0px 0px #b9b9b9;
    }

    .foodListEachFood:active {
        transition: all 0.2s ease;
        margin-top: 50px;
        height: 150px;
        width: 120px;
        background-color: #fff;
        border-radius: 20px 35px 20px 20px;
        display: flex;
        flex-flow: column;
        box-shadow: 1px 2px 0px 0px #b9b9b9;
        transform: scale(0.8);
    }

    .eachFoodPrice{
        font-family: KingArthurSpecialNormal;
        font-weight: normal;
        height: 100%;
        text-align: center;
        line-height: 50px;
        padding-left: 15px;
        font-size: smaller !important;
    }
    .foodName{
        transition: all 0.2s ease;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        font-family: Aviny;
        font-size: 1.3rem !important;
        white-space: nowrap;
        margin-top: 10px !important;
        text-overflow: ellipsis;
        direction: rtl;
    }
    .eachFoodImage{
        transition: all 0.2s ease;
        height: 55px !important;
        width: 55px !important;
        overflow: hidden;
        border-radius: 50px;
        margin-right: 0px;
        /*margin-top: 5px !important;*/
    }
    .foodDetails{
        transition: all 0.2s ease;
        font-family:AppIranSansLight ;
        width: 85%;
        overflow:hidden;
        white-space: nowrap;
        font-size: 0.5rem !important;
        margin-top: 15px !important;
        padding: 0 5px 0 5px ;
        direction: rtl;
        text-overflow: ellipsis;
    }




}

@media only screen and (min-width: 600px) {
    .foodListEachFoodContainer {
        width: 33.333333% !important;
        display: flex;
        justify-content: center;
    }
}


.foodListEachFoodContainer {
    width: 50%;
    display: flex;
    justify-content: center;
}


.priceAndImage{
    transition: all 0.2s ease;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.eachFoodPrice{
    transition: all 0.2s ease;
    font-family: KingArthurSpecialNormal;
    font-weight: normal;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 1.1rem;
    white-space: nowrap;
    padding-left: 10px;
}
.foodName{
    transition: all 0.2s ease;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    font-family: Aviny;
    font-size: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: rtl;
    margin-top: 10px;
}
.eachFoodImage{
    transition: all 0.2s ease;
    height: 65px;
    width: 65px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: -3px 11px 1rem #adadad9c;
}
.foodDetails{
font-family:AppIranSansLight;
width: 85%;
overflow:hidden;
white-space: nowrap;
font-size: 0.7rem;
margin-top: 18px;
padding: 0 5px 0 5px ;
direction: rtl;
text-overflow: ellipsis;
}

