.mainSplashScreen{
    background-color: #FFECDF;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splashScreenImage{
    height: 200px;
    width: 200px;
    margin: auto;
}
