html, body,#root{
  margin: 0 auto 0 auto;
  padding: 0;
  height: 100%;
  text-align: center;
  max-width: 500px;
  overflow: hidden;
}
.max500{
  max-width: 500px;
}
*{
  user-select: none;
}
@font-face {
  font-family: 'AppIranSans';
  src: local('AppIranSans'), url(./assets/fonts/MobileFonts/IRANSansMobile.ttf) format('truetype');
}
@font-face {
  font-family: 'Aviny';
  src: local('Aviny'), url(./assets/fonts/aviny.ttf) format('truetype');
}
@font-face {
  font-family: 'Eurose';
  src: local('Eurose'), url(./assets/fonts/Eurose.TTF) format('truetype');
}
@font-face {
  font-family: 'EuroseBold';
  src: local('EuroseBold'), url(./assets/fonts/EuroseBold.TTF) format('truetype');
}
@font-face {
  font-family: 'KingArthurSpecialNormal';
  src: local('KingArthurSpecialNormal'), url(./assets/fonts/KingArthurSpecialNormal.ttf) format('truetype');
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
