.profilePageContainer {
    background-color: #f1f1f1;
    margin: 20px auto auto auto;
    height: calc(100% - 100px);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    padding: 0 15px 10px 15px;
    overflow: scroll;

}

.DatePicker {
    margin-top: -28px;
}

.DatePicker input {
    width: 100%;
    opacity: 0;
}

.-top {
    position: absolute !important;
    top: calc(100% + 20px) !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.profileNavigate {
    transition: all 0.2s ease;
    font-size: 14px;
    height: 25px;
    border-bottom: gray solid 0px;
    font-weight: normal;
}


.profileNavigateActive {
    transition: all 0.1s ease;
    font-size: 14px;
    height: 25px;
    font-weight: bold;
    border-bottom: #ababab solid 0px;
    border-bottom-width: 1px;
}

.profileUserProfileContainer {
    transition: all 0.2s ease;
    background-color: #fff;
    border-radius: 14px;
    width: 50vw;
    height: 300px;
    padding: 0 20px 0 20px;
    min-height: 250px !important;
    opacity: 1;
}

@media only screen and (max-width: 360px) {
    .profileNavigate {
        font-size: 13px !important;
    }
}

@media only screen and (min-width: 600px) {
    .profileNavigate {
        font-size: 18px !important;
    }
}

.profileHistoryContainer {
    transition: all 0.2s ease;
    background-color: #fff;
    width: 90%;
    height: calc(100% - 70px);
    border-radius: 14px;
    opacity: 1;
    overflow: scroll;
}

.historyOrderDate {
    width: 25%;
    font-family: AppIranSansMedium;
    font-size: 14px;
}

.historyOrderName {
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    direction: rtl;
    text-overflow: ellipsis;
    font-family: AppIranSansLight;
}


@media only screen and (min-width: 600px) {
    .profileUserProfileContainer {
        background-color: #fff;
        border-radius: 14px;
        width: 50vw;
        height: 300px;
        padding: 0 100px 0 100px;

    }
}

@media only screen and (max-width: 360px) {
    .profileUserProfileContainer {
        border-radius: 14px;
        width: 50vw;
        height: 250px;
        padding: 0 20px 0 20px;
    }
}

.rtl {
    direction: rtl !important;
}

.MuiInputLabel-formControl {
    font-family: AppIranSansLight !important;
    font-weight: bold;
    color: #565656;
    white-space: nowrap;
    font-size: 0.8rem !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #ffe1e3 !important;
}

.profileSubmitButton {
    background-color: #F7899B;
    border-radius: 14px;
    height: 40px;
    width: 150px;
    line-height: 40px;
    color: white;
}

.totalBut {
    font-size: 1rem;
}

totalBuyAndPrice {
    flex: 50% 50%;
}

.MuiInput-underline:before {
    border-bottom: 1px solid rgb(115, 115, 115);
}

.profileInputs label {
    left: auto;
    right: 0;
}

.profileUserProfileContainer .DatePicker input {
    width: 110% !important;
}

.profileOffCodesContainer {
    transition: all 0.2s ease;
    background-color: transparent;
    width: 90%;
    height: calc(100% - 70px);
    border-radius: 14px;
    opacity: 1;
    overflow: scroll;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.eachOffCodeContainer {
    background: url("../img/offCodeBack.svg") center;
    width: 250px;
    background-size: 98%;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 70px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 0.8rem;
}

.giftOffCode {
    background: url("../img/gift.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.offCodeDetail{
    font-size: 0.7rem;
    font-family: AppIranSansMedium;
}
.offCodePercent{
    font-size: 0.7rem;
    color: #438D48;

}
.offCodeCode{
    width: 60px;
    height: 20px;
    background-color: #DCF1DE;
    color: #438D48;
    border-radius: 5px;
    font-size: 0.8rem;
    line-height: 23px;
    text-align: center;
    outline: none;
    border: none;
}
