.profilePageContainer{
    background-color: #ffe1e3;
    margin: 20px auto auto auto;
    height: calc(100% - 120px);
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    padding: 0 15px 10px 15px;
    overflow: scroll;
    min-height: 420px !important;
}
.profileNavigate{
    font-size: 14px;
    height: 25px;
}
.profileNavigateActive{
    border-bottom: gray solid 1px;
    font-weight: bold;
}
.profileUserProfileContainer{
    background-color: #fff;
    border-radius: 14px;
    width: 50vw;
    height: 300px;
    padding: 0 20px 0 20px;
    min-height: 250px !important;
}

@media only screen and (max-width: 360px) {
    .profileNavigate{
        font-size: 13px !important;
    }
}
@media only screen and (min-width: 600px) {
    .profileNavigate{
        font-size: 18px !important;
    }
}
.profileHistoryContainer{
    background-color: #fff;
    width: 90%;
    height: calc(100% - 70px);
    border-radius: 14px;
}
.historyOrderDate{
    width: 25%;
    font-family: AppIranSansMedium;
    font-size: 14px;
}
.historyOrderName{
    width: 85%;
    overflow:hidden;
    white-space: nowrap;
    font-size: 12px;
    direction: rtl;
    text-overflow: ellipsis;
    font-family: AppIranSansLight;
}


@media only screen and (min-width: 600px) {
    .profileUserProfileContainer {
        background-color: #fff;
        border-radius: 14px;
        width: 50vw;
        height: 300px;
        padding: 0 100px 0 100px;
    }
}
@media only screen and (max-width: 360px) {
    .profileUserProfileContainer {
        border-radius: 14px;
        width: 50vw;
        height: 250px;
        padding: 0 20px 0 20px;
    }
}
.rtl{
    direction: rtl !important;
}
.MuiInputLabel-formControl{
    right: 10px !important;
    left: 100% !important;
    font-family: AppIranSansLight !important;
    font-weight: bold;
    color: #565656;
    white-space: nowrap;
}
.profileSubmitButton{
    background-color: #F7899B;
    border-radius: 14px;
    height: 40px;
    width: 150px;
    line-height: 40px;
    color: white;
}
.totalBut{
    font-size: 1rem;
}
totalBuyAndPrice{
flex: 50% 50%;
}


