.resDetailsContainer{
    transition: all 0.2s ease;
    background-color:#E9E9E9 ;
    margin: 20px auto auto auto;
    height: calc(100% - 100px);
    width: 90%;
    border-radius: 20px;
    padding: 0 15px 10px 15px;
    overflow: scroll;
}
.res-details-icons{
    height: 30px;
    width: 30px;

}
.res-details-logo{
    margin-top: 20px;
    width: 100px;
}
.open-time-texts{
    margin-top: 20px;
    text-align: center;
    width: 50%;
}

.res-details-open-time-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}